.game {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tile {
  padding: 0.8em;
  border: 1px solid slategray;
  background-color: darkslategray;
  color: lightgray;
  cursor: pointer;
}

.tile-selected {
  background-color: slateblue;
}

.tile-mismatched {
  background-color: salmon;
}

.success {
  display: flex;
  gap: 1em;
  align-items: center;
}

.success-message {
  font-size: large;
  color: darkgoldenrod;
}

.restart {
  padding: 0.5em;
  background-color: lightgreen;
  color: darkslategray;
  font-weight: bolder;
  cursor: pointer;
}
