.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1px;
}

.square {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  cursor: pointer;
}

.piece {
  width: 100%;
}

.square[data-shade="LIGHT"] {
  background-color: antiquewhite;
}

.square[data-shade="DARK"] {
  background-color: darkseagreen;
}

.square[data-phase="DEFAULT"]:not(:has(.piece)) {
  cursor: unset;
}

.square[data-phase="DEFAULT"]:has(.piece):hover {
  background-color: burlywood;
}

.square[data-phase="SELECTED"] {
  background-color: goldenrod;
}

.square[data-phase="MOVABLE"] {
  background-color: lightskyblue;
}

.square[data-phase="CAPTURABLE"] {
  background-color: coral;
}

.captured {
  margin-top: 0.5em;
  min-height: 2em;
  display: flex;
  justify-content: space-between;
  gap: 0.2em;
}

.captured .piece {
  height: 100%;
  width: 1.5em;
}
